body{
	background-color:#ffffff;
	}
	
.inner{
	margin:auto
	width: 800px;
}

@font-face{
	font-family:mermaid;
	src:url(Mermaid1001.ttf);
}
@font-face{
	font-family:vinegar;
	src:url(Vinegar-Regular.otf);
}
	
h1{
	font-family:mermaid;
	text-align:center;
	font-size:75px;
}

h2{
	font-family:mermaid;
	text-align:center;
	font-size: 25px;
	margin-top:-40px;
}

nav{
	align-content:center;
}

.item{
	float:left;
	margin: 10px;
	font-family:vinegar;
	font-size:15px;
	text-align:center;
}

.subitem{
	width:100%;
	height:300px;
	background-color:#ffffff;
	display:hidden;
	text-align:left;
	margin:5px;
	font-family:vinegar;
	font-size:10px;
}

.item:hover .subitem{
	display:visible;
}
.subitem:hover .subitem{
	display:visible;
}

.stopfloat{
	clear:both
}
	
	
